/*
 * SITE HEADER
 */

.site-header {
  @include main-column;
  @apply fixed left-0 right-0 z-900;
  @apply bg-bg;

  .site-header__inner {
    @apply flex justify-between items-center py-6;
    @apply border-b border-solid border-border;
  }
}

/*
 * SITE LOGO
 */

.site-logo,
#nav-toggler {
  @apply h-12 w-auto p-0;

  font-size: 1.5rem;
  margin-left: -0.5rem !important;

  --offset-y: 0.5rem !important;
  --offset-x: 0.5rem !important;

  border-top: 0.5rem solid transparent;
  border-bottom: 0.5rem solid transparent;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;

  & svg {
    @apply h-full w-auto;
  }
}

h1.site-logo {
  margin: 0 !important;
  margin-left: -0.5rem !important;
  line-height: 0;
}

a.site-logo {
  cursor: pointer;
}

/*
 * SITE NAVIGATION MENU TOGGLER
 */

#nav-toggler {
  cursor: pointer;

  @apply w-16 flex justify-center items-center;

  margin-right: -0.5rem !important;

  .nav-toggler__closed {
    display: contents;
  }

  .nav-toggler__open {
    display: none;
  }
}

html.nav-open #nav-toggler {
  & .nav-toggler__closed {
    display: none;
  }

  .nav-toggler__open {
    display: contents;
  }
}