vendor
node_modules

composer.lock
package-lock.json

TODO.md
.DS_Store

*.secrets.*

/site/config/.license

helvetica/

/storage/plugins/*

/storage/accounts/*
!/storage/accounts/index.html

/storage/cache/*
!/storage/cache/index.html

/storage/media/*
!/storage/media/index.html

/storage/sessions/*
!/storage/sessions/index.html

node_modules
vendor

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

composer.lock
package-lock.json

.stylelintcache
.dev
.DS_Store

/src/public/fonts/helvetica
/src/assets/fonts/helvetica

/www/*
!/www/*.php
!/www/media
/www/media/*
!/www/media/index.html

!/www/assets
/www/assets/*

variables.sh

content/**