$vv-web-white: #fbfaf9;
$vv-web-black: #333;
$vv-web-black-light: #777;
$vv-web-black-lightest: #ccc;

/**
 * Tokens
 */

$color-background: $vv-web-white;
$color-font-dark: $vv-web-black;
$color-border: $vv-web-black-lightest;
$active-clickable-font-color: $vv-web-white;
$active-clickable-bg-color: $vv-web-black;