/** Default durations */
$slide-duration: 0.3s;
$link-animation-duration: 0.3s;
$active-link-animation-delay: .15s;

/** Mobile durations */
$slide-duration-mobile: .25s;
$link-animation-duration-mobile: .25s;
$active-link-animation-delay-mobile: .125s;