@mixin main-column {
  & {
    padding-left: max(1rem, 5%);
    padding-right: max(1rem, 5%);
  }

  @include md {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  @include xl {
    padding-left: calc(50% - 36rem);
    padding-right: calc(50% - 36rem);
  }

  @include xxl {
    padding-left: calc(50% - 40rem);
    padding-right: calc(50% - 40rem);
  }
}